<html> 

	<meta content="width=device-width, initial-scale=1, maximum-scale=2" name="viewport">
	<link rel="stylesheet" type="text/css" href="./homepage.css">

	<body> 
		<div id="text-container"> 
		<p><span>Hey there, I’m Phil.</span>  Right now, I’m building ReadUp in San Francisco, CA— we’re simplifying education by making assessment easier.</p>

		<p>I’ve also built other education tools and studied CS at Yale. If you want to hear more about what we’re working on, feel free to drop me a line.</p>
		</div> 
	</body>

</html> 
