<html> 
	
	<head>

	<!-- Title -->
    <title>Phil Esterman</title>

    	<!-- Meta -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=2" name="viewport">
		<meta charset='utf-8'>
 		<meta name="description" content="Just a place to find some info on Phil Esterman on the world wide web.">
 		<meta name="google-site-verification" content="pdNesssjqGqtHU6K_4BjKKSDFzQ9tsANecpBi2EwhSg" />


		<!-- Favicon -->
		<link rel="stylesheet" type="text/css" href="./homepage.css">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!-- Javascript -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74606651-4"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-74606651-4');
		</script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


	</head>

	<body> 
		<div id="text-container"> 
		<p><span>Hi there, I’m Phil.</span>  These days, I’m building <a class="text-link" target="_blank" href="https://www.readupnow.com">ReadUp</a> in San Francisco, CA— we’re simplifying education by making assessment easier.</p>

		<p>Before that, I built other <a class="text-link" target="_blank" href="https://www.joinstorytime.com">education tools</a> with great people and studied CS at Yale. If you want to hear more about what we’re working on, just <a class="text-link" target="_blank" href="mailto:philesterman@gmail.com">drop me a line.</a></p>


		<p>For more, here are some <a class="text-link" target="_blank" href="https://docs.google.com/document/d/120263VJwIktFltfMqaFAkaTizO0dRaOahhh-SXSS7tw/edit?usp=sharing">startup lessons I learned.</a></p>


		<br /> 

		<p><a class="icon-link" target="_blank" href="http://bit.ly/linkedin-phil"><i class="fab fa-linkedin icon"></i></a><a class="icon-link" target="_blank" href="http://bit.ly/github-phil"><i class="fab fa-github icon"></i></a></p>

		</div> 
	</body>

</html> 
