<html> 

	<meta content="width=device-width, initial-scale=1, maximum-scale=2" name="viewport">
	<link rel="stylesheet" type="text/css" href="./homepage.css">

	<body> 
		<div id="text-container"> 
		<p><span>Hi there, I’m Phil.</span>  Right now, I’m building <a href="https://www.readupnow.com">ReadUp</a> in San Francisco, CA— we’re simplifying education by making assessment easier.</p>

		<p>I’ve also built other <a href="https://www.joinstorytime.com">education tools</a> and studied CS at Yale. If you want to hear more about what we’re working on, just <a href="mailto:philesterman@gmail.com">drop me a line.</a></p>
		</div> 
	</body>

</html> 
