@font-face {
	font-family: "Circular Std Book";
	src: url("CircularStd-Book.woff2") format("woff2"),
		url("CircularStd-Book.woff") format("woff"),
		url("CircularStd-Book.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Circular Std";
	src: url("CircularStd-Black.woff2") format("woff2"),
		url("CircularStd-Black.woff") format("woff"),
		url("CircularStd-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

#text-container {
	width: 90%;
	margin: auto;
	margin-top: 5em;
	max-width: 750px;
}

p {
	font-size: 2em;
	line-height: 1.3em;
	font-family: "Circular Std Book", sans-serif;
	color: #4a4a4a;
}

span {
	font-family: "Circular Std", "Circular Std Book", sans-serif;
}

a {
	color: #0071b2;
}
